* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}


.table {
    width: 70%;
    margin: auto;
    border-collapse: collapse;
    margin-top: 50px;
    background-color: white;
}

.table th {
    padding: 12px 6px;
    border: 1px solid black;
    text-align: center;
    font-size: 12px;
    height: 40px;
    font-weight: 500;
    background-color: white;
}

/* .table th {
    background-color: aquamarine;
} */
.table th:nth-child(12) {
    width: 70px;
    padding-left: 20px;
    font-size: 15px;
    cursor: pointer;
}

.table th:nth-child(1) {

    width: 300px;
    background-color: white;

}

.tablehead1 {
    display: flex;
    justify-content: space-around;
    width: 25%;
    background-color: white;


    /* font-size: 12px; */

}

.tablehead1 div:nth-child(1) {
    font-size: 20px;
    background-color: white;

}

.tablehead1 div:nth-child(2) {
    font-size: 20px;
}


/* breakfast table */
.tableheadBreak th {
    padding: 16px 30px;
    border-right: 0.1px solid rgb(199, 199, 199);
    cursor: pointer;
    border-left: 0.1px solid rgb(199, 199, 199);
    font-size: 12px;
    text-align: center;
    font-size: 12px;
    height: 40px;
    font-weight: 500;
}

.tableheadBreak th:nth-last-child(-n+1) {
    border: none;


}

.tableheadBreak th:nth-last-child(-n+1):hover {

    background-color: rgb(199, 199, 199);
    transition: 0.3s;
}

.tableheadBreak th:nth-child(1) {
    color: green;
}

/* Added rows */

#hov:hover {
    background-color: red;


}

#addedrows td {
    padding: 16px 29px;
    border-right: 0.1px solid rgb(199, 199, 199);
    border-bottom: 0.1px solid rgb(199, 199, 199);
    text-align: center;
    font-size: 12px;
    height: 40px;
    font-weight: 400;
    background-color: white;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
}

#addedrows td img {
    width: 25px;
    float: left;
    margin-left: -10px;
}

#addedrows td:nth-child(2) {
    color: green;
}

#addedrows td:nth-last-child(-n+1):hover {
    background-color: rgb(199, 199, 199);
    transition: 0.3s;
}


.fisrstColoum {
    display: flex;
    margin-left: 0;
}

.fisrstColoum p:nth-child(2) {
    font-weight: 500;
    font-size: 14px;
    padding-left: 5px;

}

.fisrstColoum p:nth-child(3) {
    font-weight: 500;
    font-size: 14px;
    color: rgb(199, 199, 199);

}

#addedrows td:nth-child(1) {
    border-left: 0.1px solid rgb(199, 199, 199);
    width: 285px;
    background-color: white;
}






.outermodal {
    border-radius: 10px;
    margin-left: 275px;
    width: 35%;

    background-color: rgb(235, 229, 241);
    position: fixed;
    z-index: 10px;
}

#mymodal {
    cursor: pointer;
    border-radius: 10px;
    height: 50px;
}

#mymodal img {
    width: 25px;
    height: 25px;
    margin: 10px;
}

#mymodal span {

    font-size: 12px;
    margin-top: 10px;
    font-weight: 500;
    color: gray;
}

#mymodal div {
    justify-content: space-between;
    display: flex;
    padding: 10px 10px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: -8px;
}



#mymodal:hover {
    background-color: rgb(199, 199, 199);

}

.inputs {
    width: 340px;
    padding-top: 20px;

    outline: none;
    border-bottom: 1px solid black;
}

/* @media (min-width:0px)and (max-width:558px) {
    .table thead {
        display: none;
    }

    .table,
    .table tbody,
    .table tr,
    .table th,
    .table td {
        display: block;
        width: 100%;
    }

    .table tr {
        margin-bottom: 15px;
    }


    .table td {
        text-align: right;
        padding-left: 50%;
        text-align: right;
        position: relative;
    }

    .table td::before {
        content: attr(data-lable);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
        color: aqua;
    }

} */