* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

/* body {
    background-color: #f0f0f0;

} */

.table {
    width: 70%;
    margin: auto;
    border-collapse: collapse;
    margin-top: 50px;
    background-color: white;
}

.table th {
    padding: 12px 5px;
    border: 1px solid black;
    text-align: center;
    font-size: 12px;
    height: 40px;
    font-weight: 500;
    background-color: white;
}

/* .table th {
    background-color: aquamarine;
} */
.table th:nth-child(12) {
    width: 70px;
    padding-left: 20px;
    font-size: 15px;
    cursor: pointer;
}

.table th:nth-child(1) {

    width: 300px;
    background-color: white;

}

.tablehead1 {
    display: flex;
    justify-content: space-around;
    width: 25%;
    background-color: white;


    /* font-size: 12px; */

}

.tablehead1 div:nth-child(1) {
    font-size: 20px;
    background-color: white;

}

.tablehead1 div:nth-child(2) {
    font-size: 20px;
}


/* breakfast table */
.tableheadBreak th {
    padding: 5px 18px;
    border-right: 0.1px solid rgb(199, 199, 199);


    text-align: center;
    font-size: 10px;
    height: 40px;
    font-weight: 400;
}


/* Added rows */


#addedrows td {
    padding: 5px 18px;
    border-right: 0.1px solid rgb(199, 199, 199);
    border-bottom: 0.1px solid rgb(199, 199, 199);
    text-align: center;
    font-size: 10px;
    height: 40px;
    font-weight: 400;
}

#addedrows td:nth-child(1) {
    border-left: 0.1px solid rgb(199, 199, 199);
    width: 285px;
}

/* .tableBreak td:nth-child(1) {
    margin-left: 550px;
} */


/* @media (min-width:0px)and (max-width:558px) {
    .table thead {
        display: none;
    }

    .table,
    .table tbody,
    .table tr,
    .table th,
    .table td {
        display: block;
        width: 100%;
    }

    .table tr {
        margin-bottom: 15px;
    }


    .table td {
        text-align: right;
        padding-left: 50%;
        text-align: right;
        position: relative;
    }

    .table td::before {
        content: attr(data-lable);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
        color: aqua;
    }

} */